/* --------------------------- */
/* kv
/* --------------------------- */
.kv-wrapper{
  height: 500px;
  position: relative;
}
.kv-copy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.kv-name{
  color: white;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.kv-message{
  font-size: 14px;
  color: white;
}

/* --------------------------- */
/* works
/* --------------------------- */
.works-item{
  width: 47.4%;
}
.works-img-wrapper{
  margin-bottom: 8px;
  background-color: #fff;
  transition: .3s;
  border: 6px solid #777;
}
.works-item a{
  display: block;
}
.works-item a img{
  transition:  .3s;
}
.works-item a:hover{
  opacity: .8;
}
.works-item a:hover img{
  transform: scale(1.05,1.05);
}
.works-item a:hover .works-img-wrapper{
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,.08);
}
.works-title{
  font-weight: bold;
}
.works-category{
  display: block;
  font-size: 1.2rem;
  color: #777;
  margin-top: 5px;
  font-weight: normal;
}

/* --------------------------- */
/* about
/* --------------------------- */
.about-lead{
  margin-bottom: 60px;
}

@media screen and (max-width:768px){
  /* --------------------------- */
  /* kv
  /* --------------------------- */
  .kv-wrapper{
    height: 62vh;
    min-height: 280px;
  }
  .kv-message{
    line-height: 1.5;
  }
  /* --------------------------- */
  /* works
  /* --------------------------- */
  .works-item{
    width: 100%;
    margin-bottom: 24px;
  }
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}